export OBSERVE_CUSTOMER=xxx
export OBSERVE_TOKEN=xxx
export OBSERVE_DOMAIN=observe-eng.com
export AWS_ACCESS_KEY_ID=xxx
export AWS_SECRET_ACCESS_KEY=xxx
export AWS_SESSION_TOKEN=xxx
export AWS_REGION=xxx
export PROVIDER=cloudformation
